# Database
DATABASE_URL="postgresql://user:password@localhost:5432/db_name"
MONGODB_URL="mongodb://user:password@localhost:27017"
MONGODB_DATABASE="prefeitura"
PUBLIC_API_URL="http://localhost:4000"

# JWT
JWT_SECRET="sua_chave_secreta_aqui"
JWT_ACCESS_SECRET="sua_chave_secreta_de_access_aqui"
JWT_REFRESH_SECRET="sua_chave_secreta_de_refresh_aqui"

# Cookie domain (set to root domain in prod so frontend/backend share cookies)
# COOKIE_DOMAIN=.renannardi.com

# OpenAI
OPENAI_API_KEY="sk-sua_chave_openai_aqui"

# Firebase (optional)
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""
FIREBASE_MEASUREMENT_ID=""
